<h1>Durations</h1>

<table>
  <tr>
    <th>Interval</th>
    <th>Duration</th>
    <th>Days</th>
    <th>Title</th>
    <th>Hint</th>
  </tr>
  <%= for duration <- @durations do %>
    <tr>
      <td><%= duration.interval %></td>
      <td><%= duration.duration %></td>
      <td><%= duration.days %></td>
      <td><%= duration.title %></td>
      <td><%= duration.hint %></td>
    </tr>
  <% end %>
</table>